<!DOCTYPE html>
<html>
<head>
    <title>Recruit</title> 
    <!-- <script> const datatosend = {{ data|tojson }}; </script> -->
    <!-- <script async src="{{ url_for('static', filename='js/recruiter.js') }}"></script> -->
</head>
<body style="background-color: white; color: black;">

  Clan Tag: {{ data.clan_tag }} <br>
  Requirements: {{ data.requirements }} <br>
  Player Tag: {{ data.player_tag }}


<form id="required_league" method="POST">     
    <label for="leagues">Enter Required League</label>
    <select id="leagues" name="required_league">
        <option value="" disabled selected>--Select an option--</option>

        <!-- Skeleton League -->
        <option value="1">Skeleton 1</option>
        <option value="2">Skeleton 2</option>
        <option value="3">Skeleton 3</option>

        <!-- Barbarian League -->
        <option value="4">Barbarian 4</option>
        <option value="5">Barbarian 5</option>
        <option value="6">Barbarian 6</option>

        <!-- Archer League -->
        <option value="7">Archer 7</option>
        <option value="8">Archer 8</option>
        <option value="9">Archer 9</option>

        <!-- Wizard League -->
        <option value="10">Wizard 10</option>
        <option value="11">Wizard 11</option>
        <option value="12">Wizard 12</option>

        <!-- Valkyrie League -->
        <option value="13">Valkyrie 13</option>
        <option value="14">Valkyrie 14</option>
        <option value="15">Valkyrie 15</option>

        <!-- Witch League -->
        <option value="16">Witch 16</option>
        <option value="17">Witch 17</option>
        <option value="18">Witch 18</option>

        <!-- Golem League -->
        <option value="19">Golem 19</option>
        <option value="20">Golem 20</option>
        <option value="21">Golem 21</option>

        <!-- P.E.K.K.A League -->
        <option value="22">P.E.K.K.A 22</option>
        <option value="23">P.E.K.K.A 23</option>
        <option value="24">P.E.K.K.A 24</option>

        <!-- Electro Titan League -->
        <option value="25">Electro Titan 25</option>
        <option value="26">Electro Titan 26</option>
        <option value="27">Electro Titan 27</option>

        <!-- Dragon League -->
        <option value="28">Dragon 28</option>
        <option value="29">Dragon 29</option>
        <option value="30">Dragon 30</option>

        <!-- Electro Dragon League -->
        <option value="31">Electro Dragon 31</option>
        <option value="32">Electro Dragon 32</option>
        <option value="33">Electro Dragon 33</option>

        <!-- Legend League -->
        <option value="34">Legend League</option>
    </select>

    <br><br>
    <input type="submit" value="Submit">
</form>


<!-- 
    <form id="dataForm" style="text-align: center;">
        
        <h4 style="text-align: center; margin-top: 100px; font-size: 25px;">Enter league requirement:</h4>
        <input id="required_league">

        <br>
        <input style="width: 100px; font-size: 20px ;" type="submit" value="Submit">
    </form> -->
    <p id="result"></p>


<p1> {{required_league}} </p1>




</body>
</html>